@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
body {
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  line-height: 16.2pt;
  color: #383838;
  background-color: #eee;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width : 700px) {
  body {
    -webkit-text-size-adjust: 80%;
  }
}
.ContentPage, .IndexPage {
  background-color: #eee;
}
a:link, a:visited {
  color: #38abe2;
  text-decoration: none;
}
a:hover, a:active {
  color: #facd2f;
  text-decoration: none;
}
td {
  vertical-align: top;
}
img {
  border: 0;
}
p {
  margin: 0 0 8.1pt 0;
}
blockquote {
  padding: 0;
  margin: 0;
  overflow: auto;
}
#Footer {
  display: none;
}
.ContentPage #Footer, .IndexPage #Footer {
  text-align: right;
  margin: 2px;
}
.ContentPage #Content {
  border-color: #333;
  background-color: #eee;
  width: 75%;
  padding-left: 2%;
  overflow: auto;
}
@media only screen and (max-width : 700px) {
  .ContentPage #Content {
    width: 96%;
    padding: 0 2% 0 2%;
  }
}
.CTopic {
  margin-bottom: 15pt;
}
.CTitle {
  font-size: 12pt;
  line-height: 16.2pt;
  border-width: 0;
  border-style: solid;
  border-color: #383838;
  margin: 0;
}
.CGroup .CTitle {
  font-size: 12pt;
  line-height: 16.2pt;
  color: #383838;
  border-width: 0 0 1px 0;
  border-color: #383838;
  margin: 16.2pt 0 8.1pt 0;
  padding-bottom: 1px;
  padding-top: 16.2pt;
}
.CGroup .CTitle .CClass, .CGroup .CTitle .CInterface, .CGroup .CTitle .CDatabase,
.CGroup .CTitle .CDatabaseTable, .CGroup .CTitle .CSection {
  font-size: 18pt;
  color: #888;
  background-color: #A0A0A0;
  padding: 100px 15px 10px 15px;
  margin-left: 0;
  margin-right: 0;
}
#MainTopic .CTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18pt;
  line-height: 22.5pt;
  color: #1db377;
  padding: 16.2pt 0 4.05pt 0;
  border-width: 0;
  border-color: #383838;
  margin: 0;
}
.CBody {
  margin: 0;
}
.CBody blockquote {
  padding: 8.1pt 0 0 0;
  margin: 0;
  overflow: auto;
}
.CBody .CHeading + blockquote {
  padding-top: 0;
}
.CBody pre {
  font-family: "Source Code Pro", monospace;
  font-size: 9pt;
  line-height: 11.25pt;
  background-color: #facd2f;
  margin: 0 0 8.1pt 16.2pt;
  padding: 8.1pt;
  border-width: 0;
  overflow: scroll;
}
@media only screen and (max-width : 700px) {
  .CBody pre {
    margin: 0 0 4.05pt 8.1pt;
  }
}
.CBody ul {
  padding: 0 0 16.2pt 0;
  margin: 0 0 0 16.2pt;
}
.CToolTip {
  position: absolute;
  visibility: hidden;
  left: 0;
  top: 0;
  background-color: #FFFFE0;
  padding: 5px;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #333;
  font-size: 8pt;
}
.CToolTip blockquote {
  overflow: hidden;
}
.CHeading {
  margin: 0 0 8.1pt 0;
}
h4.CHeading {
  font-family: "Source Code Pro", monospace;
  font-weight: normal;
  font-size: 9pt;
  line-height: 11.25pt;
  margin: 0 0 0 16.2pt;
}
@media only screen and (max-width : 700px) {
  h4.CHeading {
    margin: 0 0 0 8.1pt;
  }
}
.CDescriptionList {
  margin: 0.5em 5ex 0 5ex;
}
.CDLEntry {
  font-family: "Source Code Pro", monospace;
  font-size: 10pt;
  color: #808080;
  padding-bottom: 0.25em;
  white-space: nowrap;
}
.CTopic img {
  text-align: center;
  display: block;
  margin: 1em auto;
}
.CImageCaption {
  font-variant: small-caps;
  font-size: 8pt;
  color: #808080;
  text-align: center;
  position: relative;
  top: 1em;
}
.CImageLink {
  color: #808080;
  font-style: italic;
}
a.CImageLink:link, a.CImageLink:visited, a.CImageLink:hover {
  color: #808080;
}
.Prototype {
  font-family: "Source Code Pro", monospace;
  font-size: 10pt;
  padding: 5px 3ex;
  border-width: 1px;
  border-style: solid;
  margin: 0 5ex 1.5em 5ex;
}
.Prototype td {
  font-size: 10pt;
}
.PDefaultValue, .PDefaultValuePrefix, .PTypePrefix {
  color: #8F8F8F;
}
.PTypePrefix {
  text-align: right;
}
.PAfterParameters {
  vertical-align: bottom;
}
.IE .Prototype table {
  padding: 0;
}
.CFunction .Prototype {
  background-color: #F4F4F4;
  border-color: #D0D0D0;
}
.CProperty .Prototype {
  background-color: #F4F4FF;
  border-color: #C0C0E8;
}
.CVariable .Prototype {
  background-color: #FFFFF0;
  border-color: #E0E0A0;
}
.CClass .Prototype {
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #A0A0A0;
  background-color: #F4F4F4;
}
.CInterface .Prototype {
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #A0A0D0;
  background-color: #F4F4FF;
}
.CDatabaseIndex .Prototype, .CConstant .Prototype {
  background-color: #D0D0D0;
  border-color: #333;
}
.CType .Prototype, .CEnumeration .Prototype {
  background-color: #FAF0F0;
  border-color: #E0B0B0;
}
.CDatabaseTrigger .Prototype, .CEvent .Prototype, .CDelegate .Prototype {
  background-color: #F0FCF0;
  border-color: #B8E4B8;
}
.CToolTip .Prototype {
  margin: 0 0 0.5em 0;
  white-space: nowrap;
}
.Summary a:link, .Summary a:visited {
  color: #eee;
  text-decoration: none;
}
.Summary a:hover, .Summary a:active {
  color: #facd2f;
  text-decoration: none;
}
.Summary .STitle {
  display: none;
  font-size: 12pt;
  line-height: 16.2pt;
  color: #1db377;
  font-weight: bold;
  margin-bottom: 8.1pt;
  margin-top: 16.2pt;
}
.Summary .SBorder {
  background-color: #1db377;
  padding: 0 16.2pt 16.2pt 16.2pt;
  border: 0;
  margin-bottom: 16.2pt;
}
.Summary .STable {
  width: 100%;
  color: #eee;
}
.Summary .SEntry {
  width: 30%;
}
.Summary .SDescription {
  width: 70%;
}
.Summary tr.SMain {
  display: none;
}
.Summary tr.SGroup td {
  padding: 16.2pt 0 0 0;
}
.Summary tr.SGroup .SEntry {
  font-weight: bold;
}
.Summary tr.SGroup .SDescription {
  padding-left: 16.2pt;
}
.Summary .SDescription {
  padding-left: 16.2pt;
}
.Summary .SIndent1 .SEntry {
  padding-left: 0;
}
.Summary .SIndent1 .SDescription {
  padding-left: 16.2pt;
}
.Summary .SIndent2 .SEntry {
  padding-left: 0;
}
.Summary .SIndent2 .SDescription {
  padding-left: 20.25pt;
}
.Summary .SIndent3 .SEntry {
  padding-left: 0;
}
.Summary .SIndent3 .SDescription {
  padding-left: 24.3pt;
}
.Summary .SIndent4 .SEntry {
  padding-left: 0;
}
.Summary .SIndent4 .SDescription {
  padding-left: 28.35pt;
}
.Summary .SIndent5 .SEntry {
  padding-left: 0;
}
.Summary .SIndent5 .SDescription {
  padding-left: 32.4pt;
}
.SClass td, .SDatabase td, .SDatabaseTable td, .SSection td {
  padding-top: 1em;
}
.SMain .SEntry, .SClass .SEntry, .SDatabase .SEntry, .SDatabaseTable .SEntry,
.SSection .SEntry {
  font-weight: bold;
}
.SMain .SEntry a, .SClass .SEntry a, .SDatabase .SEntry a,
.SDatabaseTable .SEntry a, .SSection .SEntry a {
  color: #333;
}
.SMain .SEntry a:active, .SClass .SEntry a:active, .SDatabase .SEntry a:active,
.SDatabaseTable .SEntry a:active, .SSection .SEntry a:active {
  color: #A00000;
}
.ClassHierarchy {
  margin: 0 15px 1em 15px;
}
.CHEntry {
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #A0A0A0;
  margin-bottom: 3px;
  padding: 2px 2ex;
  font-size: 10pt;
  background-color: #F4F4F4;
  color: #606060;
}
.CHCurrent .CHEntry {
  font-weight: bold;
  border-color: #333;
  color: #333;
}
.CHChildNote .CHEntry {
  font-style: italic;
  font-size: 8pt;
}
.CHIndent {
  margin-left: 3ex;
}
.CHEntry a:link, .CHEntry a:visited, .CHEntry a:hover {
  color: #606060;
}
.CHEntry a:active {
  color: #800000;
}
#Index {
  background-color: #FFFFFF;
}
.IndexPage #Index, .FramedIndexPage #Index, .FramedSearchResultsPage #Index {
  padding: 15px;
}
.IndexPage #Index {
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #333;
  margin-left: 27ex;
}
.IPageTitle {
  font-size: 20pt;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #999;
  padding: 10px 15px 10px 15px;
  border-width: 0 0 3px 0;
  border-color: #333;
  border-style: solid;
  margin: -15px -15px 0 -15px;
}
.FramedSearchResultsPage .IPageTitle {
  margin-bottom: 15px;
}
.INavigationBar {
  font-size: 10pt;
  text-align: center;
  background-color: #FFFFF0;
  padding: 5px;
  border-bottom: solid 1px black;
  margin: 0 -15px 15px -15px;
}
.INavigationBar a {
  font-weight: bold;
}
.IHeading {
  font-size: 16pt;
  font-weight: bold;
  padding: 2.5em 0 0.5em 0;
  text-align: center;
  width: 3.5ex;
}
#IFirstHeading {
  padding-top: 0;
}
.IEntry {
  font-size: 10pt;
  padding-left: 1ex;
}
.PopupSearchResultsPage .IEntry {
  font-size: 8pt;
  padding: 1px 5px;
}
.PopupSearchResultsPage .Opera9 .IEntry, .FramedSearchResultsPage .Opera9 .IEntry {
  text-align: left;
}
.FramedSearchResultsPage .IEntry {
  padding: 0;
}
.ISubIndex {
  padding-left: 3ex;
  padding-bottom: 0.5em;
}
.PopupSearchResultsPage .ISubIndex {
  display: none;
}
.ISymbol {
  font-weight: bold;
  color: #900000;
}
.IndexPage .ISymbolPrefix, .FramedIndexPage .ISymbolPrefix {
  font-size: 10pt;
  text-align: right;
  color: #C47C7C;
  background-color: #F8F8F8;
  border-right: 3px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  padding: 0 1px 0 2px;
}
.PopupSearchResultsPage .ISymbolPrefix, .FramedSearchResultsPage .ISymbolPrefix {
  color: #900000;
}
.PopupSearchResultsPage .ISymbolPrefix {
  font-size: 8pt;
}
.IndexPage #IFirstSymbolPrefix, .FramedIndexPage #IFirstSymbolPrefix {
  border-top: 1px solid #E0E0E0;
}
.IndexPage #ILastSymbolPrefix, .FramedIndexPage #ILastSymbolPrefix {
  border-bottom: 1px solid #E0E0E0;
}
.IndexPage #IOnlySymbolPrefix, .FramedIndexPage #IOnlySymbolPrefix {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
a.IParent, a.IFile {
  display: block;
}
#Menu {
  font-family: "Source Code Pro", monospace;
  font-size: 9pt;
  line-height: 14.0625pt;
  text-align: right;
  background-color: #888;
  color: #ccc;
  padding: 5.625pt 5.625pt 9pt 5.625pt;
}
@media only screen and (max-width : 700px) {
  #Menu {
    text-align: left;
  }
}
.ContentPage #Menu, .IndexPage #Menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 19%;
  overflow: auto;
}
@media only screen and (max-width : 700px) {
  .ContentPage #Menu, .IndexPage #Menu {
    position: initial;
    width: 96%;
    padding: 2%;
  }
}
.MTitle {
  font-size: 12pt;
  line-height: 16.2pt;
  padding: 5px 10px 15px 10px;
  border-bottom: 0;
  margin-bottom: 15px;
}
.MEntry a:link, .MEntry a:visited {
  color: #ccc;
}
.MEntry a:hover, .MEntry a:active {
  color: #facd2f;
}
.MGroup {
  padding-top: 5.625pt;
}
.MGroup a:link::before {
  content: "(";
}
.MGroup a:link::after {
  content: ")";
}
.MFile a:link::before {
  content: none;
}
.MFile a:link::after {
  content: none;
}
.MGroup a:link, .MGroup a:visited {
  color: #ccc;
}
.MGroup a:hover, .MGroup a:active {
  color: #facd2f;
}
.MFile, .MText, .MLink, .MIndex {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.MText {
  font-size: 9pt;
  line-height: 11.25pt;
}
.MLink {
  font-style: italic;
}
#MSelected {
  color: #eee;
}
#MSearchPanel {
  display: none;
}
#MSearchField {
  font: italic 9pt Verdana, sans-serif;
  color: #606060;
  background-color: #E8E8E8;
  border: none;
  padding: 2px 4px;
  width: 100%;
}
#MSearchPanel.MSearchPanelInactive:hover #MSearchField {
  background-color: #FFFFFF;
  border: 1px solid #C0C0C0;
  padding: 1px 3px;
}
.MSearchPanelActive #MSearchField {
  background-color: #FFFFFF;
  border: 1px solid #C0C0C0;
  font-style: normal;
  padding: 1px 3px;
}
#MSearchType {
  visibility: hidden;
  font: 8pt Verdana, sans-serif;
  width: 98%;
  padding: 0;
  border: 1px solid #C0C0C0;
}
.MSearchPanelActive #MSearchType,
#MSearchPanel.MSearchPanelInactive:hover #MSearchType, #MSearchType:focus {
  visibility: visible;
  color: #606060;
}
#MSearchType option#MSearchEverything {
  font-weight: bold;
}
iframe#MSearchResults {
  width: 50pt;
  height: 15em;
}
#MSearchResultsWindow {
  display: none;
}
#MSearchResultsWindowClose {
  display: none;
}
.PopupSearchResultsPage .SRStatus {
  padding: 2px 5px;
  font-size: 8pt;
  font-style: italic;
}
.FramedSearchResultsPage .SRStatus {
  font-size: 10pt;
  font-style: italic;
}
.SRResult {
  display: none;
}
