[submodule "tools/cc65"]
	path = tools/cc65
	url = https://github.com/cc65/cc65.git
[submodule "tools/superfamicheck"]
	path = tools/superfamicheck
	url = https://github.com/Optiroc/SuperFamicheck
[submodule "tools/brrtools"]
	path = tools/brrtools
	url = https://github.com/Optiroc/BRRtools.git
[submodule "tools/lz4"]
	path = tools/lz4
	url = https://github.com/lz4/lz4.git
