**/.o
**/.build
**/.build_libsfx
examples/**/*.sfc
examples/**/*.sym
examples/**/*.cpu.sym
examples/**/*.smp.sym
examples/**/*.dmap
examples/**/*.dnfo
examples/**/*.srm
examples/**/*.bin
tests/**/*.sfc
tests/**/*.sym
tests/**/*.dsym
tests/**/*.dmap
tests/**/*.srm
extras/NaturalDocs/config/Data
dsp1b.bin
examples/X-WIP
*.psd
*.swp
*.dnfo
**/_build_*
**/*.palette
**/*.tiles
**/*.map
**/*.m7d
**/*.brr
**/*.lz4
