**/.o
**/.build
**/.build_libsfx
examples/**/*.sfc
examples/**/*.dsym
examples/**/*.dmap
examples/**/*.srm
tests/**/*.sfc
tests/**/*.dsym
tests/**/*.dmap
tests/**/*.srm
_research
extras/NaturalDocs/Data
extras/NaturalDocs/libsfx.css
dsp1b.bin
examples/X-WIP
*.psd
